#Sidebar {
  background-color: white;
  padding: 24px 32px;
  font: 10px;
}

.sidebar-lines {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}

.sidebar-lines:hover {
  color: #b70038;
}

.sidebar-text {
  padding: 6px 0;
  width: 100%;
}

#Sidebar img {
  height: 22px;
  margin: 4px 24px 4px 0;
}

#map {
  width: 100%;
  height: 100%;
  frameborder: 0;
  border: 0;
}